@import "../../styles/breakpoints.scss";

.gallery {
  @include animateEnter();
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: 70%;
    margin: auto;
  }

  .gallery-item {
    margin-bottom: 3rem;
    h5 {
      bottom: 3rem;
      margin: auto;
      color: white;
      position: absolute;
      font-size: 1rem;
      margin-left: 50px;
      font-weight: bold;
      text-shadow: 1px 1px 5px #000000;
      @include tablet {
        font-size: 3rem;
      }
    }
    img {
      object-fit: contain;
      width: 99%;
      height: 400px;
      margin: auto;
      @include tablet {
        border-radius: 5px;
        height: 650px;
      }
    }

    .slick-dots {
      li button {
        height: 12px;
        width: 12px;
        bottom: -25px;
        box-shadow: 2px 3px 9px 7px #00000080;
      }
      li.slick-active button {
        height: 16px;
        width: 16px;
      }
    }

    .slick-arrow {
      display: none !important;
      @include desktop {
        display: block !important;
      }
      height: 3rem;
      width: 3rem;
      display: block;
      svg {
        width: 3rem;
        height: 3rem;
        fill: #dadada;
      }
    }

    .ant-collapse {
      margin-top: 1rem;
    }
    .ant-collapse-content {
      width: 100% !important;
      .ant-collapse-content-box {
        width: 100% !important;
        > div {
          width: 100% !important;
        }
      }
    }

    .fb {
      padding: 0.5rem;
      margin: auto;
      display: flex;
      width: 100%;
      flex-direction: column;
      width: 100%;

      @include tablet {
        padding: 3rem 2rem;
      }
    }
  }
}
