@import "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  width: 100%;
  @include tablet {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  @include animateEnter();
}
.committeMembers {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 1rem;

  .grid-of-2 {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include desktop {
      display: flex;
      justify-content: center;
      .memberCard {
        width: 28%;
        margin: 0 3rem;
      }
    }
  }
  .grid-of-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 100px;
    }
  }

  .memberCard {
    width: 100%;
    .card {
      box-shadow: rgba(130, 130, 130, 0.1) 0px 50px 60px 0px, rgba(0, 0, 0, 0.09) 0px 2px 10px 0px;
      cursor: auto;
      .ant-card-cover {
        overflow: hidden;
      }
      img {
        transition: all 0.3s ease-in-out;
        transform: scale(1.05);
      }
      &:hover {
        img {
          transform: scale(1);
        }
      }

      .text {
        .ant-card-meta-title {
          text-align: center;
          font-weight: 800;
          font-size: 14px;
          @include tablet {
            font-size: 20px;
          }
        }
        .ant-card-meta-description {
          text-align: center;
          font-size: 12px;
          font-weight: 800;
          @include tablet {
            font-size: 16px;
          }
        }
      }
    }
  }
}
