@import '../../styles/breakpoints.scss';

.newsContent {
  @include animateEnter();

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    h1 {
      white-space: break-spaces;
    }
    
    width: 100%;
    @include tablet {
      width: 70%;
      margin: auto;
    }
  }

  .fb {
    padding: 1rem;
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    
    @include tablet {
      width: 70%;
      margin: auto;
    }
  }
}
