@import '../../styles/breakpoints.scss';

.rows {
  line-height: 2em;
  padding: 2rem;
  margin: auto;
  text-align: left;

  width: 100%;
  @include tablet {
    width: 70%;
  }

  p,
  ul,
  ol,
  li {
    font-weight: bold;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder;
    text-align: center;
  }
  img {
    width: 100%;
    margin: 2rem 0;
    box-shadow: rgba(130, 130, 130, 0.17) 0px 50px 60px 0px, rgba(0, 0, 0, 0.23) 0px 4px 11px 0px;
    border-radius: 10px;
  }
}
