@import '../../styles/breakpoints.scss';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  @include tablet {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  @include animateEnter();
}
